.game-block {
  float: left;
  width: 24%;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
}

.game-block .cs16 {
  background-image: url('./cs16.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition-duration: 2s;
  height: 80vh;
}

.game-block .cs16:hover,
.game-block .dota2:hover,
.game-block .quake:hover,
.game-block .sc:hover {
  opacity: 1;
}

.game-block .dota2 {
  background-image: url('./dota2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition-duration: 2s;
  height: 80vh;
}

.game-block .quake {
  background-image: url('./quake.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition-duration: 2s;
  height: 80vh;
}

.game-block .sc {
  background-image: url('./sc.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition-duration: 2s;
  height: 80vh;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 9999;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  overflow: auto;
  border-radius: 6px;
}

.deleteMeetingClose {
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
}

.form {
  color: #38465E;
  font-size: 1em;
}

.form__input {
    display: block;
    width: 35%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    background-color: #CDF2EF;
    border-radius: 6px

}

.form__input:focus {
  background-color: #6DBDB7;
}

.form__register {
  width: 100%;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 20px;
  background-color: #CDF2EF;
  color: #38465E;
  font-size: 1.45em;
}

.form__register:hover {
  background-color: #6DBDB7;
}

.button_register {
  -webkit-appearance: none;
  width: 80%;
  border: 0;
  outline: 0;
  position: absolute;
  top: 60vh;
  left: 10%;
  background: #9DDCD8;
  border-radius: 100px;
  padding: 20px 60px;
  color: #38465E;
  text-decoration: none;
  font-size: 1.45em;
}

.button_list {
  -webkit-appearance: none;
  width: 80%;
  border: 0;
  outline: 0;
  position: absolute;
  top: 70vh;
  left: 10%;
  background: #9DDCD8;
  border-radius: 100px;
  padding: 20px 60px;
  color: #38465E;
  text-decoration: none;
  font-size: 1.45em;
}

.team_title {
  text-transform: uppercase;
}

.team_block {
  border: 1px solid #38465E;
}

.row {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.column {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
  width: 50%;
}

.form__input.field {
  width: 70%;
}

.center_head {
  text-align: center;
}

.header {
  margin-bottom: -5px;
}

.disabled {
  opacity: .4;
}


