.top_block {
  padding: auto 0;
}

.game-block {
  float: left;
  width: 25%;
  border: 1px solid #6DBDB7;
  box-sizing: border-box;
  position: relative;
}

.game-block .cs16 {
  background-image: url('./cs16.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity 2s;
  height: 80vh;
}

.game-block .cs16:hover,
.game-block .dota2:hover,
.game-block .quake:hover,
.game-block .sc:hover {
  opacity: 1;
}

.game-block .dota2 {
  background-image: url('./dota2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity 2s;
  height: 80vh;
}

.game-block .quake {
  background-image: url('./quake.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity 2s;
  height: 80vh;
}

.game-block .sc {
  background-image: url('./sc.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .4;
  transition: opacity 2s;
  height: 80vh;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 9999;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  overflow: auto;
  border-radius: 6px;
}

.deleteMeetingClose {
    font-size: 2.5em;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -5px;
}

.form {
  color: #38465E;
  font-size: 1em;
}

.form__input {
    display: block;
    width: 35%;
    padding: 20px;
    border: 0;
    outline: 0;
    transition: 0.3s;
    background-color: #CDF2EF;
    border-radius: 6px

}

.form__input:focus {
  background-color: #6DBDB7;
}

.form__register {
  width: 100%;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  padding: 20px;
  background-color: #CDF2EF;
  color: #38465E;
  font-size: 1.45em;
}

.form__register:hover {
  background-color: #6DBDB7;
}

.button_register {
  -webkit-appearance: none;
  width: 60%;
  border: 0;
  outline: 0;
  position: absolute;
  top: 60vh;
  left: 20%;
  background: #9DDCD8;
  border-radius: 100px;
  padding: 10px 10px;
  color: #38465E;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.button_register:hover,
.button_list:hover,
.button_register_player:hover,
.button_list_players:hover {
  background: #6DBDB7;
  cursor: pointer;
}

.button_list {
  -webkit-appearance: none;
  width: 60%;
  border: 0;
  outline: 0;
  position: absolute;
  top: 70vh;
  left: 20%;
  background: #9DDCD8;
  border-radius: 100px;
  padding: 10px 10px;
  color: #38465E;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.team_title {
  text-transform: uppercase;
}

.team_block {
  color: #38465E;
  border: 1px solid #6DBDB7;
}

.players_block {
  color: #38465E;
}

.row {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

.column {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.form__input.field {
  width: 70%;
  margin: 0 auto;
}

.form__input.field.select_field {
  width: 78%;
}

.form__input.title {
  width: 35%;
  margin-left: 30px;
}

.form__input.comment {
  width: 85%;
  margin: 0 auto;
}

.center_head {
  text-align: center;
}

.header {
  margin-bottom: -5px;
  margin-left: 30px;
}

.disabled {
  opacity: .4;
}

.button_register_player,
.button_list_players {
  -webkit-appearance: none;
  margin: 10px;
  border: 0;
  outline: 0;
  background: #9DDCD8;
  border-radius: 100px;
  padding: 10px 10px;
  color: #38465E;
  text-decoration: none;
  font-size: 1em;
  display: inline;
  font-weight: bold;
}

.button_top {
  display: contents;
}

.full_width {
  text-align: center;
  width: 100%;
}

.title_header {
  margin-left: 30px;
}

.float-left {
  float: left;
  display: contents;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.flex-item {
  width: 100%;
  flex: 1;
}

.flex-item:nth-of-type(2){
    flex: 6.5;
}

.logo_img {
  margin-right: 10px;
}